<<<<<<< HEAD
.head{
    background-color: #8A0000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 10px;
    font-family: palatino, serif;
}

h1, h2, a{
    margin: 0;
    color:#FFF287;
}

img{
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

html{
    background-color: #3B060A;
}

.menu{
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 40px;
    background-color:#C83F12;
}

p{
    color: #FFF287;
}

button{
    background-color: #8A0000;
    color: #FFF287;
    border: none;
    border-radius: 4px;
    height: 30px;
}

blockquote{
    color: #FFF287;
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    color: #FFF287; 
}

.content{
    display: flex;
    justify-content:center;
    margin: 20px;
    height: 400px;
    width: 40%;
    background-color:#8A0000;
    border-radius: 20px;
=======
body{
    background-image: url('hotel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.feedBack{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    background-color: rgba(255, 255, 255, 0.2); /* optional */
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: beige;
    height: 500px;
    width: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main{
    margin: 10px;
    flex-direction: column;
    
}

label{
    margin-top: 20px;
    margin-right: 20px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

input{
    width: 250px;  
}

.input{
    margin-right: 100px;
}

textarea{
    height: 125px;
    width: 250px;
    resize: none;    
}

.button{
    margin-top: 30px;
}

button{
    border-radius: 7px;
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgba(84, 77, 159, 0.297)(70, 3, 3);
>>>>>>> 6a3f83e8fa76f0d78143f18cd67db398a23cb093
}