body{
    background-image: url('hotel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.feedBack{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    background-color: rgba(255, 255, 255, 0.2); /* optional */
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    color: beige;
    height: 500px;
    width: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main{
    margin: 10px;
    flex-direction: column;
    
}

label{
    margin-top: 20px;
    margin-right: 20px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

input{
    width: 250px;  
}

.input{
    margin-right: 100px;
}

textarea{
    height: 125px;
    width: 250px;
    resize: none;    
}

.button{
    margin-top: 30px;
}

button{
    border-radius: 7px;
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgba(84, 77, 159, 0.297)(70, 3, 3);
}