.head{
    background-color: #8A0000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border-radius: 10px;
    font-family: palatino, serif;
}

h1, h2, a{
    margin: 0;
    color:#FFF287;
}

img{
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

html{
    background-color: #3B060A;
}

.menu{
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 40px;
    background-color:#C83F12;
}

p{
    color: #FFF287;
}

button{
    background-color: #8A0000;
    color: #FFF287;
    border: none;
    border-radius: 4px;
    height: 30px;
}

blockquote{
    color: #FFF287;
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    color: #FFF287; 
}

.content{
    display: flex;
    justify-content:center;
    margin: 20px;
    height: 400px;
    width: 40%;
    background-color:#8A0000;
    border-radius: 20px;
}